<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <div id="loader"></div>
    <div class="width-wrapper">
        <div class="breadcrumb mt-30">
            All Articles
            <a href="./post-article.html" class="btn">Add Article</a>
        </div>
        <div id="main">
            <div id="article-section" class="animate-bottom"></div>

            <div id="nextPreviousButtons">
                <button class="button previous" id="previous">&lt;</button>
                <button class="button next" id="next">&gt;</button>
            </div>
            
        </div>

    </div>
    <script src="../actions/utility.js"></script>
    <script src="../actions/index.js"></script>
</body>

</html>